.App {
  text-align: center;
}

.view-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .view-wrapper {
    padding: 0 20px;
  }
}
a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.back-btn{
  border: none;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 8vh;
  font-size: 1.5em;
  background-color: rgb(10, 10, 234);
  cursor: pointer;
}
img{
  max-width: 50vw;
}